<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Travel_app</title>
</head>
<body>

   <h1> Welcome superuser {{ user }}! </h1>     <a href='{% url 'logout' %}'><input type="submit" value="Logout"></a> <br><br>

    <a href=" {% url "GroupView" %} ">Group permissions</a><br><br>
    <a href=" {% url "UserView" %} ">User permissions</a><br><br>
    <a href=" {% url "UserList"  %} ">Administrate users</a><br>

    <img src="{% static 'z.jpg' %}" width="300" height="300"><br>

{% block Superusercontent %}

{% endblock %}

        <br>
    <a href=" {% url "BlogView" %} ">Blog</a><br>
        <br>
    <a href=" {% url "CityCreateView" %} ">Add details about city</a><br>
    <a href=" {% url "CityView" %} ">See your cities</a><br>
        <br>
    <a href=" {% url "TravelCreateView" %} ">Add new travel</a><br>
    <a href=" {% url "TravelView" %} ">See your travels</a><br>
        <br>
    <a href=" {% url "PlanCreateView" %} ">Add new plan</a><br>
    <a href=" {% url "PlanView" %} ">See your plan</a><br>
        <br>
    <a href=" {% url "JournalCreateView" %} ">Add new journal</a><br>
    <a href=" {% url "JournalView" %} ">See your journals</a><br>


</body>
<footer>
    <h3>
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h3>
    <br><a href='{% url 'home' %}'><input type="submit" value="Home"></a>
    <br>
    <h3> Today is {{ date }} </h3><br>
    App created by Jenny <br>
</footer>
</html>