<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Travel blog</title>
</head>
<body>

{% if user.is_authenticated %}
    <h1>{{ user }}, you can add new posts <a href=" {% url "BlogCreateView" %} ">here:</a></h1><br>

{% else %}
    <h1> To add new posts <a href='{% url 'myLoginView' %}'><input type="submit" value="login"></a>
        or
        <a href='{% url 'SignUpView' %}'><input type="submit" value="register"></a></h1><br>
    <ul>

    {% endif %}

        {% for post in objects %}

            <li><a href="{{ post.get_detail_url }}">{{ post }}</a>
                                <a href="{{ obj.delete_url }}"> <input type="submit" value="Delete"> </a>
            </li>

        {% endfor %}



</body>
<footer>
    <h3>
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h3>
    <br><a href='{% url 'home' %}'><input type="submit" value="Home"></a>
    {% if user.is_authenticated %}
    <a href='{% url 'logout' %}'><input type="submit" value="logout"></a>
    {%  endif %}
    <br>
    <h3> Today is {{ date }} </h3><br>
    App created by Jenny <br>
</footer>
</html>





