<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Travel blog</title>
</head>
<body>

    {% if user.is_authenticated %}
        <h1>{{ user }}, you can add new post <a href=" {% url "BlogCreateView" %} "> >here< </a></h1><br>

    {% else %}

            To add new post
                <a href='{% url 'myLoginView' %}'><input type="submit" value="login"></a>
                or
                <a href='{% url 'SignUpView' %}'><input type="submit" value="register"></a><br>

    {% endif %}


    <ul>
        {% for obj in objects %}


            <li>
            <a href="{{ obj.get_SeeBlog_url }}"> {{ obj }} </a>
{#                <a href="{{ obj.get_detail_url }}"> <input type="submit" value="Update"> </a>#}
                {% if user.is_authenticated %}
                <a href="{{ obj.del_url }}"> <input type="submit" value="Delete"> </a>


                 {% endif %}
            </li>

        {% endfor %}

    </ul>

{% block post %}

{% endblock %}


</body>
<footer>
    <h3>
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h3>
    <br><a href='{% url 'home' %}'><input type="submit" value="Home"></a>
    {% if user.is_authenticated %}
    <a href='{% url 'logout' %}'><input type="submit" value="Logout"></a>
    {%  endif %}
    <br>
    <h3> Today is {{ date }} </h3><br>
    App created by Jenny <br>
</footer>
</html>





